<div class="header">
    <div class="header-inner">
        <img src="/img/icons8-contacts-94.png" alt="">
        <div class="item headline">
            Telefonbibel
        </div>
        <div class="item">
            Übersicht
        </div>
        <div class="item">
            Schnellexport ▼
            
            <!-- > DECT-Nummern
            > Festnetze
            > Alle Nummern  -->
        </div>
        <div class="item">
            Exportieren
        </div>
        <div class="spacer"></div>
        <div class="item">
            Admin
        </div>
        
    </div>
</div>